<div class="jumbotron center">
<h1>Bienvenuti a mi pagina</h1>
<p>#ConsciousFamily  

<% if user_signed_in? %>
          Welcome to the member's page
     <% else %>
       <p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-success" %>
    	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>

  <% end %>
  </p>

</div>

