<div class="jumbotron center">
<h1>Bienvenuti a mi pagina</h1>
<p>#ConsciousFamily  </p>

    <%= link_to "Log in", "#", class: "btn btn-success" %>
    <%= link_to "Sign up", "#", class: "btn btn-primary" %>

</div>

